*{
    margin: 0;
    padding: 0;
    font-family: "Popoins",sans-serif;
}
.intro{
    position:fixed;
    inset:0;
    background: black;
    z-index: 100;
    animation: hideIntro 0s forwards;
    animation-delay: 0.3s;
}
.flash{
    width:300px;
    height:auto;
    object-fit: cover;
    opacity: 0;
    animation: flashEffect 0.20s ease-in-out forwards;
    animation-delay: 0.4s;
}
.main_box{
    opacity: 0;
    animation: showSite 0.6s forwards;
    animation-delay: 0.75s;
    background:url("photo\ \(2\).jpg");
    height:100vh;
    background-size: cover;
}
@keyframes flasheffect{
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes hideIntro{
    to{opacity: 0;visibility: hidden;}
}
@keyframes showSite{
    from{opacity: 0;}
    to{opacity: 1;}
}

.btn_one{
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 16px;
    line-height: 60px;
}

.sidebar_menu{
    position:fixed;
    left:-300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255,255,255,0.2);
    box-shadow:0 0 6px rgba(255,255,255,0.5);
    transition: all 0.3 linear;
}

.sidebar_menu .logo{
    position:absolute;
    width: 100%;
    line-height: 60px;
    box-shadow:0 0 4px rgba(255,255,255,0.5);
}
.sidebar_menu .logo a{
    position: absolute;
    left:50px;
    color: white;
    text-decoration: none;
    font-size:20px ;
    font-weight:500 ;
}
.sidebar_menu .btn_two{
    color: gray;
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    left:275px;
    opacity: 0;
}
.sidebar_menu .menu{
    position: absolute;
    width:100%;
    top:80px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 10px;
}
.sidebar_menu .social_media{
    position: absolute;
    left:25%;
    bottom: 50px;   
}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}
#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 27px;
}
.sidebar_menu .social_media i:hover{
    opacity:1;
    transform: scale(1.1);
}
#check:checked~.sidebar_menu{
    left:0;
}

#check:checked~.sidebar_menu .btn_two{
    opacity: 1;
}
